.nav {
    background-color: #F3752B;
}

html, body {
    height: 100%;
    /* background-color: #232323; */
}


.col-4{
    width: 33.33%;
}

.container2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    width: 286px;
}

img.bw {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
/* 
  .img-overlay-wrap {
    position: relative;
    display: inline-block; 
    transition: transform 150ms ease-in-out;
  } */
  
  /* .img-overlay-wrap img { 
     display: block;
     max-width: 100%;
     height: auto;
  }
  
  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }
/*    */
  /* .img-overlay-wrap:hover {
    transform: rotate( 15deg );
  } */