.nav {
    background-color: #F3752B;
}

html, body {
    height: 100%;
    /* background-color: #232323; */
}


.col-4{
    width: 33.33%;
}

.container2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    width: 100%;
}

img.bw {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }